<html>
  <head>
    <title><%= items.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <a href="/items/?sort=name">Sort By Name</a>
    <a href="/items/?sort=price">Sort By Price</a>
    <a href="/items/?sort=stock">Sort By Stock</a>
    <ul>
      <% items.forEach((item) => { %>
        <h3><%= item.name %></h3>
        <a href="/items/<%= item.id %>?from=/items">View Item</a>
        <% }); %>      
    </ul>
    <footer>
      <a href="/">Home</a>
    </footer>
  </body>
</html>
