<html>
  <head>
    <title>Authenticate User</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="main-header">
      <div class="logo-nav-form">
        <a href="/"
          ><img
            class="small-logo"
            src="/images/EverybodyLogo.jpeg"
            alt="Everybody's Bodega logo"
        /></a>
        <div class="nav-form">
          <nav class="main-nav">
            <a class="main-links" href="/">All Categories</a>
            <a class="main-links" href="/items">All Items</a>
            <div class="login-link"><a href="/login">Login</a></div>
          </nav>
          <%- include("../partials/form.ejs") %>
        </div>
      </div>
    </header>
    <form method="POST" action="/login">
      <div class="item-div">
        <label for="username">User Name</label>
        <input
          type="text"
          id="username"
          name="username"
          value="<%= locals.username || '' %>"
        />
      </div>
      <div class="item-div">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" value="" />
      </div>
      <button type="submit" class="form-button">Login</button>
    </form>
    <footer>Application created by Thought Windows</footer>
  </body>
</html>
