@font-face {
  font-family: "bebas";
  src: url("/fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "inter";
  src: url("/fonts/Inter.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: "inter";
  src: url("/fonts/inter-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter";
}

body {
  background-color: #f4e9d8;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main-header {
  display: flex;
  border: 1px solid black;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #f4e9d8;
}

.small-logo {
  width: 10rem;
  border: 1px solid black;
}

.logo-nav-form {
  display: flex;
  padding: 10px;
}

.nav-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
  width: 100%;
}

.main-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.login-link {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 20px;
}

.auth-page {
  padding: 2rem;
}

.auth-form {
  margin-top: 1rem;
  width: 15rem;
}

.auth-label {
  margin-top: 10px;
}

.auth-button {
  margin-top: 10px;
}
/* form */
.form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-field > input,
.form-field > select {
  height: 25px;
  padding: 0 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.form-button {
  height: 25px;
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.error-list {
  font-size: 12px;
  gap: 10px;
  display: flex;
}

.error {
  padding: 5px;
}

.main-links {
  text-decoration: none;
  color: inherit;
  font-family: "bebas";
  font-size: 28px;
}

.open-link {
  text-decoration: none;
  color: inherit;
}

.index-title {
  font-family: "bebas";
  font-size: 3rem;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* All Category Page */
.category-grid {
  display: grid;
  padding: 1.5rem;
  grid: 1fr 1fr / 1fr 1fr 1fr;
  column-gap: 5rem;
  row-gap: 2rem;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px black solid;
  padding: 10px 20px;
  min-height: 15rem;
}

.category-image {
  height: 13rem;
}

/* Individual Category Page */
.category-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.items-title {
  margin-bottom: 10px;
}

/* table */

.sort-icon {
  height: 25px;
  vertical-align: middle;
  border: 0.5px solid black;
  padding: 2px;
  border-radius: 8px;
  background-color: rgb(211, 216, 222);
}

.items-table {
  border-collapse: collapse;
  width: 90%;
}

/* Item Image Column */
.items-table th:nth-child(1),
.items-table td:nth-child(1) {
  width: 50px;
}
/* Size Column */
.items-table th:nth-child(3),
.items-table td:nth-child(3) {
  width: 100px;
}

/* Price Columns */
.items-table th:nth-child(4),
.items-table td:nth-child(4) {
  width: 80px;
}

/* Stock Column */
.items-table th:nth-child(5),
.items-table td:nth-child(5) {
  width: 80px;
}

.items-table th,
.items-table td {
  border: 1px solid black;
  padding: 8px 12px;
  text-align: left;
  vertical-align: middle;
}

.items-table th {
  font-weight: bold;
}

.th-inner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-image {
  height: 3rem;
  display: block;
}

.name-cell {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.item-name {
  text-decoration: none;
  color: inherit;
}

.edit-item-button {
  text-decoration: none;
  color: inherit;
  font-size: 13.33px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 4px 6px;
  background-color: #efefef;
  width: fit-content;
  grid-column: 2;
}
/* individual item view */

.item-div {
  display: flex;
  flex-direction: column;
}

.item-overview {
  display: flex;
  padding: 50px 40px;
}

.back-to-link {
  margin-left: 40px;
}

.item-image-large {
  height: 20rem;
  margin: 0 30px;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.delete-button {
  text-decoration: none;
  color: inherit;
  font-size: 13.33px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 4px 6px;
  background-color: #efefef;
  width: fit-content;
}

.confirm {
  margin-top: 15px;
}
/* bodegaRed: '#C43A2F',
  cream: '#F4E9D8',
  softBlack: '#2B2B2B',
  mustard: '#D9A441',
  bodegaGreen: '#3F6B4B', */

@media (max-width: 600px) {
  .main-nav {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .login-link {
    position: static;
    transform: none;
    align-self: center;
  }
}
